    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark text-monospace font-italic ">
        <div class="container">
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link te " href="/entrar"  >Entrar <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/categoria">Categorias <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/transporte">Situação</a>
            </li>
            </ul>
            <span class="navbar-text text-primary">
            <strong>Financeiro Digital</strong> 
            </span>
        </div>
        </div>
    </nav>
    
    <router-outlet></router-outlet>
    
    
    <footer class="footer navbar bg-dark text-monospace font-italic text-light ">Quando a caminhada fica Dificil, os fortes utiliza</footer>